@import 'theme.scss';

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

html,
body,
app-root,
mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site {
  width: 100%;
  min-height: 100%;
}

.full-width {
  width: 100%;
}

.fill-remaining-space {
  // @angular/material  flex layout for blank space
  flex: 1 1 auto;
}
.icon-size{
  font-size: x-small;
  vertical-align: -webkit-baseline-middle;
  padding-right: 4px;
}
