@import '../node_modules/@angular/material/theming';
@import './app-theme';
@include mat-core();

$mat-tcpalette: (
  50 : #E0F2F1,
  100 : #B2DFDB,
  200 : #80CBC4,
  300 : #4DB6AC,
  400 : #26A69A,
  500 : #009688,
  600 : #00897B,
  700 : #00796B,
  800 : #00695C,
  900 : #004D40,
  A100 : #A7FFEB,
  A200 : #64FFDA,
  A400 : #1DE9B6,
  A700 : #00BFA5,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$mat-tcspalette: (
  50 : #e9f0f1,
  100 : #c7d9dd,
  200 : #a2c0c7,
  300 : #7da7b0,
  400 : #61949f,
  500 : #45818e,
  600 : #3e7986,
  700 : #366e7b,
  800 : #2e6471,
  900 : #1f515f,
  A100 : #9fe9ff,
  A200 : #6cddff,
  A400 : #39d2ff,
  A700 : #1fccff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$primary: mat-palette($mat-tcpalette);
$accent:  mat-palette($mat-tcspalette, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

